header{
    background-color: white;
}

footer{
    background-color: white;
}

nav{
    background-color: white;
}

section{
    background-color: white;
}

aside{
    background-color: rgb(67, 82, 113);
}